language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
before_install:
  - pip install pytest pytest-mock pytest-cov
  - pip install coveralls
install:
  - pip install -r requirements.txt
script:
  - py.test
after_success:
  - coveralls
